<!-- 	<ul class="navigation">
		<li data-slide="1">Slide 1</li>
		<li data-slide="2">Slide 2</li>
		<li data-slide="3">Slide 3</li>
		<li data-slide="4">Slide 4</li>
	</ul> -->



          
	 <p class="envatologo">Welcome to Not-So-Instagram</p>
	

	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		
		<!-- <a class="button" data-slide="2" title=""></a> -->

	</div><!--End Slide 1-->



	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="wrapper">

		</div>

		<span class="slideno"></span>
<!-- 		<a class="button" data-slide="3" title=""></a> -->

	</div><!--End Slide 2-->





	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
		<div class="wrapper">
		
			<!-- <img src="/assets/Unknown.jpg" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""> -->
			<!-- <img src="/assets/Unknown.jpg" data-stellar-ratio="1.5" data-stellar-vertical-offset="-53"alt="">
			<img src="/assets/Unknown.jpg" data-stellar-ratio="2.7" data-stellar-vertical-offset="-200"alt="">
			<img src="/assets/Unknown.jpg" data-stellar-ratio="3" data-stellar-vertical-offset="-200"alt="">
			<img src="/assets/Unknown.jpg" data-stellar-ratio="1" data-stellar-vertical-offset="-200"alt="">
			<img src="/assets/Unknown.jpg" data-stellar-ratio="1.5" data-stellar-vertical-offset="-200"alt=""> -->
		</div>

		<span class="slideno"></span>
		<!-- <a class="button" data-slide="4" title=""></a> -->

	</div><!--End Slide 3-->






	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0">
		

		<span class="slideno"></span>
		<span class="parallaxbg">
			<%= link_to 'SO SIGN UP DOUCHE!', new_user_registration_path %>
		</span>

	</div><!--End Slide 4-->