- @photos.each do |photo|
  %img{ src: photo.image.url, class:"instagram_image" }
  %br
  = photo.caption
  %br
  = photo.tags
  %br
  = link_to 'Edit', edit_photo_path(photo)
  %br
  = link_to 'Delete', photo_path(photo),
                    method: :delete, data: { confirm: 'Are you sure?' }
  %br
