// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
}

.insta_image {
	margin: 4%;
}

.map {
	text-align: center;
	width: 400px;
	height: 250px;
	vertical-align: middle;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 225px;
}